# Ignore virtual environment
.claw_venv/

# Ignore sensitive Firebase credentials
serviceAccountKey.json
(second)serviceAccountKey.json

# Ignore Python bytecode and cache
*.pyc
__pycache__/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Don't Know
main.spec
